[cleanup]
deposito = yes
rights_society = yes
label_code = yes
label_name = yes
mastering_sid = yes
mould_sid = yes
spars = yes
isrc = yes
asin = yes
month = no
year = yes
html = yes
debug = no
pkd = yes
reportall = yes
credits = yes
tracklisting = yes

## location of file where to get the credit roles
## generate this file with the helper script.
creditsfile = credits.txt

## not related to smells, but fun for statistics
creative_commons = no

[api]
storedir = /home/armijn/discogs-data/json
## Generate a token after logging in: https://www.discogs.com/settings/developers
token = CHANGEME
username = CHANGEME
skipdownloaded = yes
skip404 = yes
404file = 404
notify = no
